<ion-header>
  <ion-navbar>
    <ion-title>
      QR Code 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="My QR Code data" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <button ion-button="" full icon-left="" (click)="createCode()">
    <ion-icon name="barcode"></ion-icon>
    Create QR Code
  </button>
  <button ion-button="" full icon-left="" (click)="scanCode()">
    <ion-icon name="qr-scanner"></ion-icon>
    Scan QR Code
  </button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{createdCode}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{scannedCode}}
    </ion-card-content>
  </ion-card>

</ion-content>
